swagger: '2.0'
info:
  version: '1.0'
  title: BUMA
  contact: {}
host: buma.predictdsm.com
basePath: /api/v1
securityDefinitions: {}
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /login:
    post:
      summary: Login
      tags:
        - Misc
      operationId: Login
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: false
          enum:
            - application/json
          type: string
          description: ''
        - name: Body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/LoginRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Login'
          examples:
            application/json:
              success: true
              error: null
              message: Login success.
              data:
                Name: Superadmin
                Username: demo-suadmin
                EmailAddress: arvin@predict-indonesia.com
                ApiToken: 0ee13a52569dfd2aec7534b3a8341eb20457cca336b0f34c094414cab9f2f2f7
                TokenLifetime: '2021-10-06 07:36:34'
                Access:
                  TakeAction: true
                  UploadCoaching: true
                  CloseTicket: true
                  ReopenTicket: true
                Sites:
                  - SiteId: LMOHAULCOAL
                    Name: Lati - HAULING COAL
                  - SiteId: LMOCOALPTR
                    Name: Lati - COAL PTR
                  - SiteId: LMOOBHAUL
                    Name: Lati - OB HAULLER
                  - SiteId: BMOHAULCOAL
                    Name: Binungan - HAULING COAL
                  - SiteId: BMOMAINHAUL
                    Name: Binungan - MAIN HAULLER
          headers:
            Date:
              type: string
              default: Tue, 05 Oct 2021 07:36:33 GMT
            Server:
              type: string
              default: Apache/2.4.41 (Win64) OpenSSL/1.1.1d PHP/7.4.3
            X-Powered-By:
              type: string
              default: PHP/7.4.3
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Content-Length:
              type: string
              default: '641'
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            Connection:
              type: string
              default: Keep-Alive
  /alarm-types:
    post:
      summary: Alarm Types
      tags:
        - Misc
      operationId: AlarmTypes
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: false
          enum:
            - application/json
          type: string
          description: ''
        - name: Body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/AlarmTypesRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Response'
          examples:
            application/json:
              success: true
              error: null
              message: Data retrieved.
              data:
                - Driver Distraction
                - Driver Fatigue
                - Forward Collision Warning
                - High-speed alarm
                - No driver
                - Phone Detection
                - Smoking Detection
                - Video loss alarm
                - Yawning Detection
          headers:
            Date:
              type: string
              default: Thu, 16 Sep 2021 06:36:08 GMT
            Server:
              type: string
              default: Apache/2.4.41 (Win64) OpenSSL/1.1.1d PHP/7.4.3
            X-Powered-By:
              type: string
              default: PHP/7.4.3
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Content-Length:
              type: string
              default: '240'
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            Connection:
              type: string
              default: Keep-Alive
  /drivers:
    post:
      summary: Drivers
      tags:
        - Misc
      operationId: Drivers
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: false
          enum:
            - application/json
          type: string
          description: ''
        - name: Body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/DriversRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Response1'
          examples:
            application/json:
              success: true
              error: null
              message: Driver retrieved successfully.
              data:
                - DriverId: '123456789'
                  Name: Driver 1
                  SiteName: "Lati - OB HAULLER\r\n"
          headers:
            Date:
              type: string
              default: Thu, 16 Sep 2021 06:38:06 GMT
            Server:
              type: string
              default: Apache/2.4.41 (Win64) OpenSSL/1.1.1d PHP/7.4.3
            X-Powered-By:
              type: string
              default: PHP/7.4.3
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '58'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Content-Length:
              type: string
              default: '159'
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            Connection:
              type: string
              default: Keep-Alive
  /fleets:
    post:
      summary: EquipmentList
      tags:
        - Misc
      operationId: EquipmentList
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: false
          enum:
            - application/json
          type: string
          description: ''
        - name: Body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/EquipmentListRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Response%28OLD%29'
          examples:
            application/json:
              success: true
              error: null
              message: Data retrieved.
              data:
                current_page: 1
                data:
                  - RegistrationNumber: BMO - PMSC58015
                    AssetId: null
                    Timestamp: '2021-09-10 11:46:40'
                    Longitude: '117.547443'
                    Latitude: '2.010983'
                    SiteName: "Binungan - HAULING COAL\r\n"
                    DeviceState: Online
                  - RegistrationNumber: BMO - FTVV44012
                    AssetId: null
                    Timestamp: '2021-09-10 11:46:27'
                    Longitude: '117.495166'
                    Latitude: '2.025286'
                    SiteName: ''
                    DeviceState: Online
                  - RegistrationNumber: BMO - PMSC58020
                    AssetId: null
                    Timestamp: '2021-09-10 11:34:14'
                    Longitude: '117.568760'
                    Latitude: '2.006310'
                    SiteName: ''
                    DeviceState: Offline
                  - RegistrationNumber: BMO - FTVV44002
                    AssetId: null
                    Timestamp: '2021-09-10 11:29:02'
                    Longitude: '117.575500'
                    Latitude: '2.006858'
                    SiteName: ''
                    DeviceState: Online
                  - RegistrationNumber: LMO - HDCT7060
                    AssetId: null
                    Timestamp: '2021-09-10 11:28:34'
                    Longitude: '0.000000'
                    Latitude: '0.000000'
                    SiteName: ''
                    DeviceState: Offline
                  - RegistrationNumber: LMO - HDKM431
                    AssetId: null
                    Timestamp: '2021-09-10 11:23:08'
                    Longitude: '117.557135'
                    Latitude: '2.319540'
                    SiteName: ''
                    DeviceState: Offline
                  - RegistrationNumber: LMO - HDKM290
                    AssetId: null
                    Timestamp: '2021-09-10 11:22:44'
                    Longitude: '117.589846'
                    Latitude: '2.295231'
                    SiteName: ''
                    DeviceState: Offline
                  - RegistrationNumber: BMO - PMSC58002
                    AssetId: null
                    Timestamp: '2021-09-10 11:22:06'
                    Longitude: '117.477616'
                    Latitude: '2.029471'
                    SiteName: ''
                    DeviceState: Offline
                  - RegistrationNumber: BMO - PMMB33051
                    AssetId: null
                    Timestamp: '2021-09-10 11:19:25'
                    Longitude: '117.513623'
                    Latitude: '2.020271'
                    SiteName: ''
                    DeviceState: Offline
                  - RegistrationNumber: BMO - DTVV44113
                    AssetId: null
                    Timestamp: '2021-09-10 11:17:44'
                    Longitude: '117.409301'
                    Latitude: '1.997750'
                    SiteName: ''
                    DeviceState: Offline
                first_page_url: http://bumadsm.local/api/v1/fleets?page=1
                from: 1
                last_page: 30
                last_page_url: http://bumadsm.local/api/v1/fleets?page=30
                next_page_url: http://bumadsm.local/api/v1/fleets?page=2
                path: http://bumadsm.local/api/v1/fleets
                per_page: 10
                prev_page_url: null
                to: 10
                total: 300
          headers:
            Date:
              type: string
              default: Thu, 16 Sep 2021 06:45:54 GMT
            Server:
              type: string
              default: Apache/2.4.41 (Win64) OpenSSL/1.1.1d PHP/7.4.3
            X-Powered-By:
              type: string
              default: PHP/7.4.3
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Content-Length:
              type: string
              default: '2184'
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            Connection:
              type: string
              default: Keep-Alive
  /alerts:
    post:
      summary: Deviation
      tags:
        - Misc
      operationId: Deviation
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: false
          enum:
            - application/json
          type: string
          description: ''
        - name: Body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/DeviationRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Response%28OLD%291'
          examples:
            application/json:
              success: true
              error: null
              message: Data retrieved.
              data:
                current_page: 1
                data:
                  - RegistrationNumber: BMO - PMSC58015
                    AlarmType: Yawning Detection
                    StartTime: '2021-09-10 11:46:40'
                    DriverName: null
                    Duration: '7'
                    ActionStatus: Reported
                    id: 96925
                    TicketNumber: BMO - PMSC58015-PDSM00014001
                    Speed: '17'
                  - RegistrationNumber: BMO - FTVV44012
                    AlarmType: High-speed alarm
                    StartTime: '2021-09-10 11:46:27'
                    DriverName: null
                    Duration: '7'
                    ActionStatus: Closed
                    id: 96926
                    TicketNumber: BMO - FTVV44012-PDSM00014002
                    Speed: '63'
                  - RegistrationNumber: BMO - PMSC58020
                    AlarmType: High-speed alarm
                    StartTime: '2021-09-10 11:34:14'
                    DriverName: null
                    Duration: '7'
                    ActionStatus: Pending
                    id: 96912
                    TicketNumber: BMO - PMSC58020-PDSM00013988
                    Speed: '63'
                  - RegistrationNumber: LMO - HDCT7112
                    AlarmType: High-speed alarm
                    StartTime: '2021-09-10 11:34:13'
                    DriverName: null
                    Duration: '7'
                    ActionStatus: Reopen Ticket
                    id: 96927
                    TicketNumber: LMO - HDCT7112-PDSM00014003
                    Speed: '43'
                  - RegistrationNumber: BMO - FTVV44002
                    AlarmType: High-speed alarm
                    StartTime: '2021-09-10 11:29:02'
                    DriverName: null
                    Duration: '7'
                    ActionStatus: Reopen Ticket
                    id: 96928
                    TicketNumber: BMO - FTVV44002-PDSM00014004
                    Speed: '63'
                  - RegistrationNumber: LMO - HDCT7060
                    AlarmType: Video loss alarm
                    StartTime: '2021-09-10 11:28:34'
                    DriverName: null
                    Duration: '7'
                    ActionStatus: Pending
                    id: 96913
                    TicketNumber: LMO - HDCT7060-PDSM00013989
                    Speed: '0'
                  - RegistrationNumber: LMO - HDKM431
                    AlarmType: Driver Distraction
                    StartTime: '2021-09-10 11:23:08'
                    DriverName: null
                    Duration: '7'
                    ActionStatus: Pending
                    id: 96880
                    TicketNumber: LMO - HDKM431-PDSM00013956
                    Speed: '9'
                  - RegistrationNumber: LMO - HDKM290
                    AlarmType: Smoking Detection
                    StartTime: '2021-09-10 11:22:44'
                    DriverName: null
                    Duration: '7'
                    ActionStatus: Pending
                    id: 96914
                    TicketNumber: LMO - HDKM290-PDSM00013990
                    Speed: '0'
                  - RegistrationNumber: BMO - PMSC58002
                    AlarmType: High-speed alarm
                    StartTime: '2021-09-10 11:22:06'
                    DriverName: null
                    Duration: '7'
                    ActionStatus: Pending
                    id: 96915
                    TicketNumber: BMO - PMSC58002-PDSM00013991
                    Speed: '63'
                  - RegistrationNumber: BMO - PMMB33051
                    AlarmType: High-speed alarm
                    StartTime: '2021-09-10 11:19:25'
                    DriverName: null
                    Duration: '7'
                    ActionStatus: Pending
                    id: 96916
                    TicketNumber: BMO - PMMB33051-PDSM00013992
                    Speed: '63'
                first_page_url: http://bumadsm.local/api/v1/alerts?page=1
                from: 1
                last_page: 9693
                last_page_url: http://bumadsm.local/api/v1/alerts?page=9693
                next_page_url: http://bumadsm.local/api/v1/alerts?page=2
                path: http://bumadsm.local/api/v1/alerts
                per_page: 10
                prev_page_url: null
                to: 10
                total: 96927
          headers:
            Date:
              type: string
              default: Thu, 16 Sep 2021 06:47:07 GMT
            Server:
              type: string
              default: Apache/2.4.41 (Win64) OpenSSL/1.1.1d PHP/7.4.3
            X-Powered-By:
              type: string
              default: PHP/7.4.3
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Content-Length:
              type: string
              default: '2764'
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            Connection:
              type: string
              default: Keep-Alive
  /alerts/detail:
    post:
      summary: Alert Detail
      tags:
        - Misc
      operationId: AlertDetail
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: false
          enum:
            - application/json
          type: string
          description: ''
        - name: Body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/AlertDetailRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Response4'
          examples:
            application/json:
              success: true
              error: null
              message: Data retrieved.
              data:
                AlarmType: High-speed alarm
                TicketNumber: LMO - HDCT7112-PDSM00014003
                RegistrationNumber: LMO - HDCT7112
                SiteId: ''
                SiteName: ''
                Video1Url: http://147.139.186.204:12056/api/v1/basic/mediafile/view?key=zT908g2j9nhExsAmW2pQai8%2BSEBAq%2BeEWZ0YLoqhpFs%3D&dir=RDovRXZpZGVuY2VEYXRhLzIwMjEtMDktMTAvMTMxNDk4L0NIQU5ORUxfMDdfMjAyMTA5MTAxMTM0MTBfMjAyMTA5MTAxMTM0MTYubXA0
                Video2Url: http://147.139.186.204:12056/api/v1/basic/mediafile/view?key=zT908g2j9nhExsAmW2pQai8%2BSEBAq%2BeEWZ0YLoqhpFs%3D&dir=RDovRXZpZGVuY2VEYXRhLzIwMjEtMDktMTAvMTMxNDk4L0NIQU5ORUxfMDhfMjAyMTA5MTAxMTM0MTBfMjAyMTA5MTAxMTM0MTYubXA0
                Latitude: '2.324348'
                Longitude: '117.545775'
                DeviceId: '0099025384'
                Duration: '7'
                StartTime: '2021-09-10 11:34:13'
                DriverName: Driver 1
                Speed: '43'
                ActionStatus: Reopen Ticket
                ActionAlarmType: Valid (Remarks)
                ActionTime: 2021-09-16 11:13
                ActionTakenBy: Superadmin
                ActionRemarks: asdasdsa
                L1Shift: dsaqwewq
                DelayFatigueActivated: 'No'
                DelayFatigueRemarks: null
                ValidatedByShift: Pagi
                Closing Remarks: sadasdsadasdsadasdsa
                CoachingFile: http://bumadsm.local/storage/app/public/coaching/LMO - HDCT7112-PDSM00014003-6142d288f3b84.xlsx
                CoachingRemarks: sadsa
                RelatedEvidences:
                  - id: 96928
                    device_id: 157
                    ticket_number: BMO - FTVV44002-PDSM00014004
                    evidenceid: '131492'
                    evidence_name: High-speed alarm
                    carlicense: BMO - FTVV44002
                    terid: 00990252A1
                    driver_name: Driver 1
                    name: BMO - FTVV44002-2021-09-10 11:29:02
                    starttime: '2021-09-10 11:29:02'
                    endtime: '2021-09-10 11:29:05'
                    isread: null
                    timeslot: '7'
                    size: '6.96'
                    image: null
                    keyword: null
                    desc: ''
                    mark: null
                    video_url: http://147.139.186.204:12056/api/v1/basic/mediafile/view?key=zT908g2j9nhExsAmW2pQai8%2BSEBAq%2BeEWZ0YLoqhpFs%3D&dir=RDovRXZpZGVuY2VEYXRhLzIwMjEtMDktMTAvMTMxNDkyL0NIQU5ORUxfMDdfMjAyMTA5MTAxMTI4NTlfMjAyMTA5MTAxMTI5MDUubXA0
                    road_video_url: http://147.139.186.204:12056/api/v1/basic/mediafile/view?key=zT908g2j9nhExsAmW2pQai8%2BSEBAq%2BeEWZ0YLoqhpFs%3D&dir=RDovRXZpZGVuY2VEYXRhLzIwMjEtMDktMTAvMTMxNDkyL0NIQU5ORUxfMDhfMjAyMTA5MTAxMTI4NTlfMjAyMTA5MTAxMTI5MDUubXA0
                    cam3_video_url: null
                    cam4_video_url: null
                    Timestamp: null
                    Longitude: null
                    Latitude: null
                    FormattedAddress: null
                    action_status: Reopen Ticket
                    confirmation_date: 2021-09-16 11:13
                    confirmation_by: Superadmin
                    reopen_by: Superadmin
                    slug: 131492-bmo-ftvv44002-2021-09-10-11-29-02
                    created_at: '2021-09-10 04:00:10'
                    updated_at: '2021-09-16 08:43:43'
                    OdometerKilometres: null
                    closed_date: '2021-09-16 14:09:52'
                    closed_by: Superadmin
                    wa_notif: null
                    reopen_date: 2021-09-16 13:11
                    closed_reason: Others
                    email_notif: null
                    email_sent_time: null
                    closing_remarks: sadasdsadasdsadasdsa
                    coaching_file: http://bumadsm.local/storage/app/public/coaching/BMO - FTVV44002-PDSM00014004-6142d289566b5.xlsx
                    coaching_remarks: sadsa
                    site_id: null
                    group_id: 4
                    detail:
                      evidence_id: 96928
                      terid: 00990252A1
                      gpstime: '2021-09-10 11:29:02'
                      altitude: '0'
                      direction: '262'
                      gpslat: '2.006858'
                      gpslng: '117.575500'
                      speed: '63'
                      recordspeed: '0'
                      state: '0'
                      time: '2021-09-10 11:29:00'
                      type: '15'
                      content: 'Current speed: 63.0 KM/H (0.0 KM/H-62.0 KM/H)'
                      cmdtype: '2'
                      alarmid: 00990252A1_1_255
                      created_at: '2021-09-10 04:00:10'
                      updated_at: '2021-09-10 04:00:10'
                    device:
                      asset_id: 157
                      carlicense: BMO - FTVV44002
                      deviceid: 00990252A1
                      terid: 00990252A1
                      sim: '628875853073'
                      channelcount: '8'
                      cname: ''
                      platecolor: '1'
                      groupid: '15'
                      devicetype: '4'
                      linktype: '124'
                      deviceusername: ''
                      devicepassword: ''
                      registerip: 147.139.186.204
                      registerport: '5556'
                      transmitip: 147.139.186.204
                      transmitport: '17891'
                      en: '255'
                      state: Online
                      created_at: '2021-06-21 10:33:40'
                      updated_at: '2021-09-10 04:00:04'
                      asset:
                        site_id: null
                        AssetId: null
                        AssetTypeId: null
                        Description: null
                        IsConnectedTrailer: null
                        RegistrationNumber: BMO - FTVV44002
                        SiteId: null
                        FuelType: null
                        TargetFuelConsumption: null
                        TargetFuelConsumptionUnits: null
                        TargetHourlyFuelConsumption: null
                        TargetHourlyFuelConsumptionUnits: null
                        FleetNumber: null
                        Make: null
                        Model: null
                        Year: null
                        VinNumber: null
                        EngineNumber: null
                        FmVehicleId: null
                        AdditionalMobileDevice: null
                        Notes: null
                        Icon: null
                        IconColour: null
                        Colour: null
                        AssetImage: null
                        IsDefaultImage: null
                        AssetImageUrl: null
                        UserState: null
                        CreatedBy: null
                        CreatedDate: null
                        Odometer: null
                        EngineHours: null
                        Country: null
                        Timestamp: '2021-09-10 11:29:02'
                        Longitude: '117.575500'
                        Latitude: '2.006858'
                        FormattedAddress: null
                        slug: 00990252a1
                        created_at: '2021-06-21 10:33:40'
                        updated_at: '2021-09-10 04:01:53'
                        site: null
                    actions:
                      - evidence_id: 96928
                        alarm_type: Valid (Remarks)
                        action_date: 2021-09-16 11:13
                        action_by: Superadmin
                        description: asdasdsa
                        created_at: '2021-09-16 04:33:53'
                        updated_at: '2021-09-16 04:33:53'
                        l1_shift: dsaqwewq
                        delay_fatigue_activated: 'No'
                        delay_fatigue_remarks: null
                        validated_by_shift: Pagi
                    coachings:
                      - evidence_id: 96928
                        coaching_file: http://bumadsm.local/storage/app/public/coaching/BMO - FTVV44002-PDSM00014004-6142d289566b5.xlsx
                        coaching_remarks: sadsa
                        upload_by: Superadmin
                        created_at: '2021-09-16 05:13:45'
                        updated_at: '2021-09-16 05:13:45'
                    reopens:
                      - evidence_id: 96928
                        prev_status: null
                        reopen_date: 2021-09-16 13:11
                        reopen_by: Superadmin
                        reason: asdasdsa
                        created_at: '2021-09-16 06:11:17'
                        updated_at: '2021-09-16 06:11:17'
                    site: null
          headers:
            Date:
              type: string
              default: Thu, 16 Sep 2021 08:52:54 GMT
            Server:
              type: string
              default: Apache/2.4.41 (Win64) OpenSSL/1.1.1d PHP/7.4.3
            X-Powered-By:
              type: string
              default: PHP/7.4.3
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Content-Length:
              type: string
              default: '5585'
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            Connection:
              type: string
              default: Keep-Alive
  /alerts/update-driver:
    post:
      summary: Alert Update Driver
      tags:
        - Misc
      operationId: AlertUpdateDriver
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: false
          enum:
            - application/json
          type: string
          description: ''
        - name: Body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/AlertUpdateDriverRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ResponseSingleEvidence'
          examples:
            application/json:
              success: true
              error: null
              message: Driver saved successfully.
          headers:
            Date:
              type: string
              default: Thu, 16 Sep 2021 08:43:01 GMT
            Server:
              type: string
              default: Apache/2.4.41 (Win64) OpenSSL/1.1.1d PHP/7.4.3
            X-Powered-By:
              type: string
              default: PHP/7.4.3
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Content-Length:
              type: string
              default: '68'
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            Connection:
              type: string
              default: Keep-Alive
  /alerts/action:
    post:
      summary: Take Action Pending/Reopen Ticket
      tags:
        - Misc
      operationId: TakeActionPending/ReopenTicket
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: false
          enum:
            - application/json
          type: string
          description: ''
        - name: Body
          in: body
          required: true
          description: ''
          schema:
            example: "{\r\n  \"api_token\":\"bcbff27d26bd39c20ef01e43de49cd8da41559223b4b225080a10beddc4aa9e6\",\r\n  \"evidence_id\":125502,\r\n  \"alarm_type\":\"Valid\",\r\n  \"validation_remarks\":\"Optional Field\",\r\n  \"validation_date\":\"2021-02-16 01:00:00\",\r\n  \"validated_by\":\"Nama User\"\r\n}\r\n\r\n// REMOVE THIS LINE AND BELOW BEFORE SEND\r\n// alarm_type accepted value is \"Valid\", \"Valid (Remarks)\", and \"Invalid\"\r\n// action_remarks is required when alarm_type is \"Valid (Remarks)\"\r\n// validation_date is required if alarm_type !== 'Invalid'"
            type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SingleEvidence'
          examples:
            application/json:
              success: true
              error: null
              message: Alarm action saved successfully.
          headers:
            Date:
              type: string
              default: Tue, 05 Oct 2021 10:48:25 GMT
            Server:
              type: string
              default: Apache/2.4.41 (Win64) OpenSSL/1.1.1d PHP/7.4.3
            X-Powered-By:
              type: string
              default: PHP/7.4.3
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Content-Length:
              type: string
              default: '74'
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            Connection:
              type: string
              default: Keep-Alive
  /alerts/coaching:
    post:
      summary: Upload Coaching Report Ticket
      tags:
        - Misc
      operationId: UploadCoachingReportTicket
      deprecated: false
      produces:
        - application/json
      consumes:
        - multipart/form-data
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: false
          enum:
            - application/json
          type: string
          description: ''
        - name: api_token
          in: formData
          required: true
          type: string
          description: ''
        - name: evidence_id
          in: formData
          required: true
          type: integer
          format: int32
          description: ''
        - name: supervisor
          in: formData
          required: true
          type: string
          description: ''
        - name: action_type
          in: formData
          required: true
          type: string
          description: |-
            Accepted Values:
            - Radio Contact
            - Coaching
            - Fatigue Test
            - SP 1
            - SP 2
            - SP 3
            - Other
        - name: coaching_date
          in: formData
          required: true
          type: string
          description: 'date_format: Y-m-d H:i:s'
        - name: coaching_file
          in: formData
          required: true
          type: file
          format: file
          description: optional
        - name: coaching_remarks
          in: formData
          required: true
          type: string
          description: optional
        - name: close_ticket
          in: formData
          required: true
          type: string
          description: '"Yes" or "No"'
        - name: close_ticket_time
          in: formData
          required: true
          type: string
          description: ''
        - name: closing_remarks
          in: formData
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SingleAlarm'
          examples:
            application/json:
              success: true
              error: null
              message: Alarm coaching report saved successfully.
          headers:
            Date:
              type: string
              default: Tue, 05 Oct 2021 11:04:21 GMT
            Server:
              type: string
              default: Apache/2.4.41 (Win64) OpenSSL/1.1.1d PHP/7.4.3
            X-Powered-By:
              type: string
              default: PHP/7.4.3
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '56'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Content-Length:
              type: string
              default: '83'
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            Connection:
              type: string
              default: Keep-Alive
  /alerts/close:
    post:
      summary: Close Reported/Coaching Ticket
      tags:
        - Misc
      operationId: CloseReported/CoachingTicket
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: false
          enum:
            - application/json
          type: string
          description: ''
        - name: Body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/CloseReported~1CoachingTicketRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SingleEvidence'
          examples:
            application/json:
              success: true
              error: null
              message: Alarm closed successfully.
          headers:
            Date:
              type: string
              default: Tue, 05 Oct 2021 11:15:15 GMT
            Server:
              type: string
              default: Apache/2.4.41 (Win64) OpenSSL/1.1.1d PHP/7.4.3
            X-Powered-By:
              type: string
              default: PHP/7.4.3
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Content-Length:
              type: string
              default: '68'
            Keep-Alive:
              type: string
              default: timeout=5, max=98
            Connection:
              type: string
              default: Keep-Alive
  /alerts/reopen:
    post:
      summary: Reopen Closed Ticket
      tags:
        - Misc
      operationId: ReopenClosedTicket
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: false
          enum:
            - application/json
          type: string
          description: ''
        - name: Body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/ReopenClosedTicketRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SingleEvidence'
          examples:
            application/json:
              success: true
              error: null
              message: Reopen Ticket saved successfully.
          headers:
            Date:
              type: string
              default: Tue, 05 Oct 2021 11:21:26 GMT
            Server:
              type: string
              default: Apache/2.4.41 (Win64) OpenSSL/1.1.1d PHP/7.4.3
            X-Powered-By:
              type: string
              default: PHP/7.4.3
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Content-Length:
              type: string
              default: '75'
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            Connection:
              type: string
              default: Keep-Alive
  /dashboard:
    post:
      summary: Dashboard
      tags:
        - Misc
      operationId: Dashboard
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: false
          enum:
            - application/json
          type: string
          description: ''
        - name: Body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/DashboardRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Dashboard'
          headers:
            Date:
              type: string
              default: Mon, 22 Nov 2021 09:24:19 GMT
            Server:
              type: string
              default: Apache/2.4.51 (Win64) OpenSSL/1.1.1l PHP/7.4.25
            X-Powered-By:
              type: string
              default: PHP/7.4.25
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            Connection:
              type: string
              default: Keep-Alive
            Transfer-Encoding:
              type: string
              default: chunked
definitions:
  LoginRequest:
    title: LoginRequest
    example:
      username: demo-suadmin
      password: PredictDSM321+
    type: object
    properties:
      username:
        type: string
      password:
        type: string
    required:
      - username
      - password
  Login:
    title: Login
    example:
      success: true
      error: null
      message: Login success.
      data:
        Name: Superadmin
        Username: demo-suadmin
        EmailAddress: arvin@predict-indonesia.com
        ApiToken: 0ee13a52569dfd2aec7534b3a8341eb20457cca336b0f34c094414cab9f2f2f7
        TokenLifetime: '2021-10-06 07:36:34'
        Access:
          TakeAction: true
          UploadCoaching: true
          CloseTicket: true
          ReopenTicket: true
        Sites:
          - SiteId: LMOHAULCOAL
            Name: Lati - HAULING COAL
          - SiteId: LMOCOALPTR
            Name: Lati - COAL PTR
          - SiteId: LMOOBHAUL
            Name: Lati - OB HAULLER
          - SiteId: BMOHAULCOAL
            Name: Binungan - HAULING COAL
          - SiteId: BMOMAINHAUL
            Name: Binungan - MAIN HAULLER
    type: object
    properties:
      success:
        type: boolean
      error:
        type: string
      message:
        type: string
      data:
        $ref: '#/definitions/Data'
    required:
      - success
      - error
      - message
      - data
  Data:
    title: Data
    example:
      Name: Superadmin
      Username: demo-suadmin
      EmailAddress: arvin@predict-indonesia.com
      ApiToken: 0ee13a52569dfd2aec7534b3a8341eb20457cca336b0f34c094414cab9f2f2f7
      TokenLifetime: '2021-10-06 07:36:34'
      Access:
        TakeAction: true
        UploadCoaching: true
        CloseTicket: true
        ReopenTicket: true
      Sites:
        - SiteId: LMOHAULCOAL
          Name: Lati - HAULING COAL
        - SiteId: LMOCOALPTR
          Name: Lati - COAL PTR
        - SiteId: LMOOBHAUL
          Name: Lati - OB HAULLER
        - SiteId: BMOHAULCOAL
          Name: Binungan - HAULING COAL
        - SiteId: BMOMAINHAUL
          Name: Binungan - MAIN HAULLER
    type: object
    properties:
      Name:
        type: string
      Username:
        type: string
      EmailAddress:
        type: string
      ApiToken:
        type: string
      TokenLifetime:
        type: string
      Access:
        $ref: '#/definitions/Access'
      Sites:
        type: array
        items:
          $ref: '#/definitions/Site'
    required:
      - Name
      - Username
      - EmailAddress
      - ApiToken
      - TokenLifetime
      - Access
      - Sites
  Access:
    title: Access
    example:
      TakeAction: true
      UploadCoaching: true
      CloseTicket: true
      ReopenTicket: true
    type: object
    properties:
      TakeAction:
        type: boolean
      UploadCoaching:
        type: boolean
      CloseTicket:
        type: boolean
      ReopenTicket:
        type: boolean
    required:
      - TakeAction
      - UploadCoaching
      - CloseTicket
      - ReopenTicket
  Site:
    title: Site
    example:
      SiteId: LMOHAULCOAL
      Name: Lati - HAULING COAL
    type: object
    properties:
      SiteId:
        type: string
      Name:
        type: string
    required:
      - SiteId
      - Name
  AlarmTypesRequest:
    title: AlarmTypesRequest
    example:
      api_token: 3b7c26db75c23134488a9f1b4f1ac867178461deee7bb660e92f594ea97b0d76
    type: object
    properties:
      api_token:
        type: string
    required:
      - api_token
  Response:
    title: Response
    example:
      success: true
      error: null
      message: Data retrieved.
      data:
        - Driver Distraction
        - Driver Fatigue
        - Forward Collision Warning
        - High-speed alarm
        - No driver
        - Phone Detection
        - Smoking Detection
        - Video loss alarm
        - Yawning Detection
    type: object
    properties:
      success:
        type: boolean
      error:
        type: string
      message:
        type: string
      data:
        type: array
        items:
          type: string
    required:
      - success
      - error
      - message
      - data
  DriversRequest:
    title: DriversRequest
    example:
      api_token: 3b7c26db75c23134488a9f1b4f1ac867178461deee7bb660e92f594ea97b0d76
    type: object
    properties:
      api_token:
        type: string
    required:
      - api_token
  Response1:
    title: Response1
    example:
      success: true
      error: null
      message: Driver retrieved successfully.
      data:
        - DriverId: '123456789'
          Name: Driver 1
          SiteName: "Lati - OB HAULLER\r\n"
    type: object
    properties:
      success:
        type: boolean
      error:
        type: string
      message:
        type: string
      data:
        type: array
        items:
          $ref: '#/definitions/Data1'
    required:
      - success
      - error
      - message
      - data
  Data1:
    title: Data1
    example:
      DriverId: '123456789'
      Name: Driver 1
      SiteName: "Lati - OB HAULLER\r\n"
    type: object
    properties:
      DriverId:
        type: string
      Name:
        type: string
      SiteName:
        type: string
    required:
      - DriverId
      - Name
      - SiteName
  EquipmentListRequest:
    title: EquipmentListRequest
    example:
      api_token: 3b7c26db75c23134488a9f1b4f1ac867178461deee7bb660e92f594ea97b0d76
      filter:
        search: ''
        sites: []
      size: 10
      page: 1
    type: object
    properties:
      api_token:
        type: string
      filter:
        $ref: '#/definitions/Filter'
      size:
        type: integer
        format: int32
      page:
        type: integer
        format: int32
    required:
      - api_token
      - filter
      - size
      - page
  Filter:
    title: Filter
    example:
      search: ''
      sites: []
    type: object
    properties:
      search:
        type: string
      sites:
        type: array
        items:
          type: string
    required:
      - search
      - sites
  Response(OLD):
    title: Response(OLD)
    example:
      success: true
      error: null
      message: Data retrieved.
      data:
        current_page: 1
        data:
          - RegistrationNumber: BMO - PMSC58015
            AssetId: null
            Timestamp: '2021-09-10 11:46:40'
            Longitude: '117.547443'
            Latitude: '2.010983'
            SiteName: "Binungan - HAULING COAL\r\n"
            DeviceState: Online
          - RegistrationNumber: BMO - FTVV44012
            AssetId: null
            Timestamp: '2021-09-10 11:46:27'
            Longitude: '117.495166'
            Latitude: '2.025286'
            SiteName: ''
            DeviceState: Online
          - RegistrationNumber: BMO - PMSC58020
            AssetId: null
            Timestamp: '2021-09-10 11:34:14'
            Longitude: '117.568760'
            Latitude: '2.006310'
            SiteName: ''
            DeviceState: Offline
          - RegistrationNumber: BMO - FTVV44002
            AssetId: null
            Timestamp: '2021-09-10 11:29:02'
            Longitude: '117.575500'
            Latitude: '2.006858'
            SiteName: ''
            DeviceState: Online
          - RegistrationNumber: LMO - HDCT7060
            AssetId: null
            Timestamp: '2021-09-10 11:28:34'
            Longitude: '0.000000'
            Latitude: '0.000000'
            SiteName: ''
            DeviceState: Offline
          - RegistrationNumber: LMO - HDKM431
            AssetId: null
            Timestamp: '2021-09-10 11:23:08'
            Longitude: '117.557135'
            Latitude: '2.319540'
            SiteName: ''
            DeviceState: Offline
          - RegistrationNumber: LMO - HDKM290
            AssetId: null
            Timestamp: '2021-09-10 11:22:44'
            Longitude: '117.589846'
            Latitude: '2.295231'
            SiteName: ''
            DeviceState: Offline
          - RegistrationNumber: BMO - PMSC58002
            AssetId: null
            Timestamp: '2021-09-10 11:22:06'
            Longitude: '117.477616'
            Latitude: '2.029471'
            SiteName: ''
            DeviceState: Offline
          - RegistrationNumber: BMO - PMMB33051
            AssetId: null
            Timestamp: '2021-09-10 11:19:25'
            Longitude: '117.513623'
            Latitude: '2.020271'
            SiteName: ''
            DeviceState: Offline
          - RegistrationNumber: BMO - DTVV44113
            AssetId: null
            Timestamp: '2021-09-10 11:17:44'
            Longitude: '117.409301'
            Latitude: '1.997750'
            SiteName: ''
            DeviceState: Offline
        first_page_url: http://bumadsm.local/api/v1/fleets?page=1
        from: 1
        last_page: 30
        last_page_url: http://bumadsm.local/api/v1/fleets?page=30
        next_page_url: http://bumadsm.local/api/v1/fleets?page=2
        path: http://bumadsm.local/api/v1/fleets
        per_page: 10
        prev_page_url: null
        to: 10
        total: 300
    type: object
    properties:
      success:
        type: boolean
      error:
        type: string
      message:
        type: string
      data:
        $ref: '#/definitions/Data2'
    required:
      - success
      - error
      - message
      - data
  Data2:
    title: Data2
    example:
      current_page: 1
      data:
        - RegistrationNumber: BMO - PMSC58015
          AssetId: null
          Timestamp: '2021-09-10 11:46:40'
          Longitude: '117.547443'
          Latitude: '2.010983'
          SiteName: "Binungan - HAULING COAL\r\n"
          DeviceState: Online
        - RegistrationNumber: BMO - FTVV44012
          AssetId: null
          Timestamp: '2021-09-10 11:46:27'
          Longitude: '117.495166'
          Latitude: '2.025286'
          SiteName: ''
          DeviceState: Online
        - RegistrationNumber: BMO - PMSC58020
          AssetId: null
          Timestamp: '2021-09-10 11:34:14'
          Longitude: '117.568760'
          Latitude: '2.006310'
          SiteName: ''
          DeviceState: Offline
        - RegistrationNumber: BMO - FTVV44002
          AssetId: null
          Timestamp: '2021-09-10 11:29:02'
          Longitude: '117.575500'
          Latitude: '2.006858'
          SiteName: ''
          DeviceState: Online
        - RegistrationNumber: LMO - HDCT7060
          AssetId: null
          Timestamp: '2021-09-10 11:28:34'
          Longitude: '0.000000'
          Latitude: '0.000000'
          SiteName: ''
          DeviceState: Offline
        - RegistrationNumber: LMO - HDKM431
          AssetId: null
          Timestamp: '2021-09-10 11:23:08'
          Longitude: '117.557135'
          Latitude: '2.319540'
          SiteName: ''
          DeviceState: Offline
        - RegistrationNumber: LMO - HDKM290
          AssetId: null
          Timestamp: '2021-09-10 11:22:44'
          Longitude: '117.589846'
          Latitude: '2.295231'
          SiteName: ''
          DeviceState: Offline
        - RegistrationNumber: BMO - PMSC58002
          AssetId: null
          Timestamp: '2021-09-10 11:22:06'
          Longitude: '117.477616'
          Latitude: '2.029471'
          SiteName: ''
          DeviceState: Offline
        - RegistrationNumber: BMO - PMMB33051
          AssetId: null
          Timestamp: '2021-09-10 11:19:25'
          Longitude: '117.513623'
          Latitude: '2.020271'
          SiteName: ''
          DeviceState: Offline
        - RegistrationNumber: BMO - DTVV44113
          AssetId: null
          Timestamp: '2021-09-10 11:17:44'
          Longitude: '117.409301'
          Latitude: '1.997750'
          SiteName: ''
          DeviceState: Offline
      first_page_url: http://bumadsm.local/api/v1/fleets?page=1
      from: 1
      last_page: 30
      last_page_url: http://bumadsm.local/api/v1/fleets?page=30
      next_page_url: http://bumadsm.local/api/v1/fleets?page=2
      path: http://bumadsm.local/api/v1/fleets
      per_page: 10
      prev_page_url: null
      to: 10
      total: 300
    type: object
    properties:
      current_page:
        type: integer
        format: int32
      data:
        type: array
        items:
          $ref: '#/definitions/Data3'
      first_page_url:
        type: string
      from:
        type: integer
        format: int32
      last_page:
        type: integer
        format: int32
      last_page_url:
        type: string
      next_page_url:
        type: string
      path:
        type: string
      per_page:
        type: integer
        format: int32
      prev_page_url:
        type: string
      to:
        type: integer
        format: int32
      total:
        type: integer
        format: int32
    required:
      - current_page
      - data
      - first_page_url
      - from
      - last_page
      - last_page_url
      - next_page_url
      - path
      - per_page
      - prev_page_url
      - to
      - total
  Data3:
    title: Data3
    example:
      RegistrationNumber: BMO - PMSC58015
      AssetId: null
      Timestamp: '2021-09-10 11:46:40'
      Longitude: '117.547443'
      Latitude: '2.010983'
      SiteName: "Binungan - HAULING COAL\r\n"
      DeviceState: Online
    type: object
    properties:
      RegistrationNumber:
        type: string
      AssetId:
        type: string
      Timestamp:
        type: string
      Longitude:
        type: string
      Latitude:
        type: string
      SiteName:
        type: string
      DeviceState:
        type: string
    required:
      - RegistrationNumber
      - AssetId
      - Timestamp
      - Longitude
      - Latitude
      - SiteName
      - DeviceState
  Response2:
    title: Response2
    example:
      success: true
      error: null
      message: Data retrieved.
      data:
        current_page: 1
        data:
          - EquipmentId: '0099025155'
            EquipmentNo: null
            EquipmentName: BMO - DTVV44109
          - EquipmentId: 009902511F
            EquipmentNo: null
            EquipmentName: LMO - DTMB48003
          - EquipmentId: '0099026863'
            EquipmentNo: null
            EquipmentName: SDJ - DTSC41051
          - EquipmentId: 009902689F
            EquipmentNo: null
            EquipmentName: SDJ - DTSC41022
          - EquipmentId: 009902692C
            EquipmentNo: null
            EquipmentName: SDJ - DTSC41053
          - EquipmentId: 00990268C5
            EquipmentNo: null
            EquipmentName: SDJ - DTSC41013
          - EquipmentId: '0099025375'
            EquipmentNo: null
            EquipmentName: LMO - HDCT7164
          - EquipmentId: '00990268E5'
            EquipmentNo: null
            EquipmentName: SDJ - DTSC41064
          - EquipmentId: '0099026895'
            EquipmentNo: null
            EquipmentName: SDJ - DTSC41069
          - EquipmentId: '0099025281'
            EquipmentNo: null
            EquipmentName: LMO - DTMB48010
        first_page_url: http://buma.predictdsm.com/api/v1/fleets?page=1
        from: 1
        last_page: 30
        last_page_url: http://buma.predictdsm.com/api/v1/fleets?page=30
        next_page_url: http://buma.predictdsm.com/api/v1/fleets?page=2
        path: http://buma.predictdsm.com/api/v1/fleets
        per_page: 10
        prev_page_url: null
        to: 10
        total: 296
    type: object
    properties:
      success:
        type: boolean
      error:
        type: string
      message:
        type: string
      data:
        $ref: '#/definitions/Data4'
    required:
      - success
      - error
      - message
      - data
  Data4:
    title: Data4
    example:
      current_page: 1
      data:
        - EquipmentId: '0099025155'
          EquipmentNo: null
          EquipmentName: BMO - DTVV44109
        - EquipmentId: 009902511F
          EquipmentNo: null
          EquipmentName: LMO - DTMB48003
        - EquipmentId: '0099026863'
          EquipmentNo: null
          EquipmentName: SDJ - DTSC41051
        - EquipmentId: 009902689F
          EquipmentNo: null
          EquipmentName: SDJ - DTSC41022
        - EquipmentId: 009902692C
          EquipmentNo: null
          EquipmentName: SDJ - DTSC41053
        - EquipmentId: 00990268C5
          EquipmentNo: null
          EquipmentName: SDJ - DTSC41013
        - EquipmentId: '0099025375'
          EquipmentNo: null
          EquipmentName: LMO - HDCT7164
        - EquipmentId: '00990268E5'
          EquipmentNo: null
          EquipmentName: SDJ - DTSC41064
        - EquipmentId: '0099026895'
          EquipmentNo: null
          EquipmentName: SDJ - DTSC41069
        - EquipmentId: '0099025281'
          EquipmentNo: null
          EquipmentName: LMO - DTMB48010
      first_page_url: http://buma.predictdsm.com/api/v1/fleets?page=1
      from: 1
      last_page: 30
      last_page_url: http://buma.predictdsm.com/api/v1/fleets?page=30
      next_page_url: http://buma.predictdsm.com/api/v1/fleets?page=2
      path: http://buma.predictdsm.com/api/v1/fleets
      per_page: 10
      prev_page_url: null
      to: 10
      total: 296
    type: object
    properties:
      current_page:
        type: integer
        format: int32
      data:
        type: array
        items:
          $ref: '#/definitions/Data5'
      first_page_url:
        type: string
      from:
        type: integer
        format: int32
      last_page:
        type: integer
        format: int32
      last_page_url:
        type: string
      next_page_url:
        type: string
      path:
        type: string
      per_page:
        type: integer
        format: int32
      prev_page_url:
        type: string
      to:
        type: integer
        format: int32
      total:
        type: integer
        format: int32
    required:
      - current_page
      - data
      - first_page_url
      - from
      - last_page
      - last_page_url
      - next_page_url
      - path
      - per_page
      - prev_page_url
      - to
      - total
  Data5:
    title: Data5
    example:
      EquipmentId: '0099025155'
      EquipmentNo: null
      EquipmentName: BMO - DTVV44109
    type: object
    properties:
      EquipmentId:
        type: string
      EquipmentNo:
        type: string
      EquipmentName:
        type: string
    required:
      - EquipmentId
      - EquipmentNo
      - EquipmentName
  DeviationRequest:
    title: DeviationRequest
    example:
      api_token: 3b7c26db75c23134488a9f1b4f1ac867178461deee7bb660e92f594ea97b0d76
      filter:
        assets: []
        search: ''
        sites: []
        startdate: ''
        enddate: ''
        alarms: []
        action_status:
          - Pending
          - Reported
          - Coaching
          - Closed
          - Reopen Ticket
      size: 10
      page: 1
    type: object
    properties:
      api_token:
        type: string
      filter:
        $ref: '#/definitions/Filter1'
      size:
        type: integer
        format: int32
      page:
        type: integer
        format: int32
    required:
      - api_token
      - filter
      - size
      - page
  Filter1:
    title: Filter1
    example:
      assets: []
      search: ''
      sites: []
      startdate: ''
      enddate: ''
      alarms: []
      action_status:
        - Pending
        - Reported
        - Coaching
        - Closed
        - Reopen Ticket
    type: object
    properties:
      assets:
        type: array
        items:
          type: string
      search:
        type: string
      sites:
        type: array
        items:
          type: string
      startdate:
        type: string
      enddate:
        type: string
      alarms:
        type: array
        items:
          type: string
      action_status:
        type: array
        items:
          type: string
    required:
      - assets
      - search
      - sites
      - startdate
      - enddate
      - alarms
      - action_status
  Response(OLD)1:
    title: Response(OLD)1
    example:
      success: true
      error: null
      message: Data retrieved.
      data:
        current_page: 1
        data:
          - RegistrationNumber: BMO - PMSC58015
            AlarmType: Yawning Detection
            StartTime: '2021-09-10 11:46:40'
            DriverName: null
            Duration: '7'
            ActionStatus: Reported
            id: 96925
            TicketNumber: BMO - PMSC58015-PDSM00014001
            Speed: '17'
          - RegistrationNumber: BMO - FTVV44012
            AlarmType: High-speed alarm
            StartTime: '2021-09-10 11:46:27'
            DriverName: null
            Duration: '7'
            ActionStatus: Closed
            id: 96926
            TicketNumber: BMO - FTVV44012-PDSM00014002
            Speed: '63'
          - RegistrationNumber: BMO - PMSC58020
            AlarmType: High-speed alarm
            StartTime: '2021-09-10 11:34:14'
            DriverName: null
            Duration: '7'
            ActionStatus: Pending
            id: 96912
            TicketNumber: BMO - PMSC58020-PDSM00013988
            Speed: '63'
          - RegistrationNumber: LMO - HDCT7112
            AlarmType: High-speed alarm
            StartTime: '2021-09-10 11:34:13'
            DriverName: null
            Duration: '7'
            ActionStatus: Reopen Ticket
            id: 96927
            TicketNumber: LMO - HDCT7112-PDSM00014003
            Speed: '43'
          - RegistrationNumber: BMO - FTVV44002
            AlarmType: High-speed alarm
            StartTime: '2021-09-10 11:29:02'
            DriverName: null
            Duration: '7'
            ActionStatus: Reopen Ticket
            id: 96928
            TicketNumber: BMO - FTVV44002-PDSM00014004
            Speed: '63'
          - RegistrationNumber: LMO - HDCT7060
            AlarmType: Video loss alarm
            StartTime: '2021-09-10 11:28:34'
            DriverName: null
            Duration: '7'
            ActionStatus: Pending
            id: 96913
            TicketNumber: LMO - HDCT7060-PDSM00013989
            Speed: '0'
          - RegistrationNumber: LMO - HDKM431
            AlarmType: Driver Distraction
            StartTime: '2021-09-10 11:23:08'
            DriverName: null
            Duration: '7'
            ActionStatus: Pending
            id: 96880
            TicketNumber: LMO - HDKM431-PDSM00013956
            Speed: '9'
          - RegistrationNumber: LMO - HDKM290
            AlarmType: Smoking Detection
            StartTime: '2021-09-10 11:22:44'
            DriverName: null
            Duration: '7'
            ActionStatus: Pending
            id: 96914
            TicketNumber: LMO - HDKM290-PDSM00013990
            Speed: '0'
          - RegistrationNumber: BMO - PMSC58002
            AlarmType: High-speed alarm
            StartTime: '2021-09-10 11:22:06'
            DriverName: null
            Duration: '7'
            ActionStatus: Pending
            id: 96915
            TicketNumber: BMO - PMSC58002-PDSM00013991
            Speed: '63'
          - RegistrationNumber: BMO - PMMB33051
            AlarmType: High-speed alarm
            StartTime: '2021-09-10 11:19:25'
            DriverName: null
            Duration: '7'
            ActionStatus: Pending
            id: 96916
            TicketNumber: BMO - PMMB33051-PDSM00013992
            Speed: '63'
        first_page_url: http://bumadsm.local/api/v1/alerts?page=1
        from: 1
        last_page: 9693
        last_page_url: http://bumadsm.local/api/v1/alerts?page=9693
        next_page_url: http://bumadsm.local/api/v1/alerts?page=2
        path: http://bumadsm.local/api/v1/alerts
        per_page: 10
        prev_page_url: null
        to: 10
        total: 96927
    type: object
    properties:
      success:
        type: boolean
      error:
        type: string
      message:
        type: string
      data:
        $ref: '#/definitions/Data6'
    required:
      - success
      - error
      - message
      - data
  Data6:
    title: Data6
    example:
      current_page: 1
      data:
        - RegistrationNumber: BMO - PMSC58015
          AlarmType: Yawning Detection
          StartTime: '2021-09-10 11:46:40'
          DriverName: null
          Duration: '7'
          ActionStatus: Reported
          id: 96925
          TicketNumber: BMO - PMSC58015-PDSM00014001
          Speed: '17'
        - RegistrationNumber: BMO - FTVV44012
          AlarmType: High-speed alarm
          StartTime: '2021-09-10 11:46:27'
          DriverName: null
          Duration: '7'
          ActionStatus: Closed
          id: 96926
          TicketNumber: BMO - FTVV44012-PDSM00014002
          Speed: '63'
        - RegistrationNumber: BMO - PMSC58020
          AlarmType: High-speed alarm
          StartTime: '2021-09-10 11:34:14'
          DriverName: null
          Duration: '7'
          ActionStatus: Pending
          id: 96912
          TicketNumber: BMO - PMSC58020-PDSM00013988
          Speed: '63'
        - RegistrationNumber: LMO - HDCT7112
          AlarmType: High-speed alarm
          StartTime: '2021-09-10 11:34:13'
          DriverName: null
          Duration: '7'
          ActionStatus: Reopen Ticket
          id: 96927
          TicketNumber: LMO - HDCT7112-PDSM00014003
          Speed: '43'
        - RegistrationNumber: BMO - FTVV44002
          AlarmType: High-speed alarm
          StartTime: '2021-09-10 11:29:02'
          DriverName: null
          Duration: '7'
          ActionStatus: Reopen Ticket
          id: 96928
          TicketNumber: BMO - FTVV44002-PDSM00014004
          Speed: '63'
        - RegistrationNumber: LMO - HDCT7060
          AlarmType: Video loss alarm
          StartTime: '2021-09-10 11:28:34'
          DriverName: null
          Duration: '7'
          ActionStatus: Pending
          id: 96913
          TicketNumber: LMO - HDCT7060-PDSM00013989
          Speed: '0'
        - RegistrationNumber: LMO - HDKM431
          AlarmType: Driver Distraction
          StartTime: '2021-09-10 11:23:08'
          DriverName: null
          Duration: '7'
          ActionStatus: Pending
          id: 96880
          TicketNumber: LMO - HDKM431-PDSM00013956
          Speed: '9'
        - RegistrationNumber: LMO - HDKM290
          AlarmType: Smoking Detection
          StartTime: '2021-09-10 11:22:44'
          DriverName: null
          Duration: '7'
          ActionStatus: Pending
          id: 96914
          TicketNumber: LMO - HDKM290-PDSM00013990
          Speed: '0'
        - RegistrationNumber: BMO - PMSC58002
          AlarmType: High-speed alarm
          StartTime: '2021-09-10 11:22:06'
          DriverName: null
          Duration: '7'
          ActionStatus: Pending
          id: 96915
          TicketNumber: BMO - PMSC58002-PDSM00013991
          Speed: '63'
        - RegistrationNumber: BMO - PMMB33051
          AlarmType: High-speed alarm
          StartTime: '2021-09-10 11:19:25'
          DriverName: null
          Duration: '7'
          ActionStatus: Pending
          id: 96916
          TicketNumber: BMO - PMMB33051-PDSM00013992
          Speed: '63'
      first_page_url: http://bumadsm.local/api/v1/alerts?page=1
      from: 1
      last_page: 9693
      last_page_url: http://bumadsm.local/api/v1/alerts?page=9693
      next_page_url: http://bumadsm.local/api/v1/alerts?page=2
      path: http://bumadsm.local/api/v1/alerts
      per_page: 10
      prev_page_url: null
      to: 10
      total: 96927
    type: object
    properties:
      current_page:
        type: integer
        format: int32
      data:
        type: array
        items:
          $ref: '#/definitions/Data7'
      first_page_url:
        type: string
      from:
        type: integer
        format: int32
      last_page:
        type: integer
        format: int32
      last_page_url:
        type: string
      next_page_url:
        type: string
      path:
        type: string
      per_page:
        type: integer
        format: int32
      prev_page_url:
        type: string
      to:
        type: integer
        format: int32
      total:
        type: integer
        format: int32
    required:
      - current_page
      - data
      - first_page_url
      - from
      - last_page
      - last_page_url
      - next_page_url
      - path
      - per_page
      - prev_page_url
      - to
      - total
  Data7:
    title: Data7
    example:
      RegistrationNumber: BMO - PMSC58015
      AlarmType: Yawning Detection
      StartTime: '2021-09-10 11:46:40'
      DriverName: null
      Duration: '7'
      ActionStatus: Reported
      id: 96925
      TicketNumber: BMO - PMSC58015-PDSM00014001
      Speed: '17'
    type: object
    properties:
      RegistrationNumber:
        type: string
      AlarmType:
        type: string
      StartTime:
        type: string
      DriverName:
        type: string
      Duration:
        type: string
      ActionStatus:
        type: string
      id:
        type: integer
        format: int32
      TicketNumber:
        type: string
      Speed:
        type: string
    required:
      - RegistrationNumber
      - AlarmType
      - StartTime
      - DriverName
      - Duration
      - ActionStatus
      - id
      - TicketNumber
      - Speed
  Response3:
    title: Response3
    example:
      success: true
      error: null
      message: Data retrieved.
      data:
        current_page: 1
        data:
          - id: 237480
            driverId: null
            driverName: ''
            EquipmentId: null
            EquipmentSpeed: '0'
            Longitude: null
            Latitude: null
            unSafeAct: null
            unSafeActUtcDate: '2021-11-26 01:29:54'
            ShiftId: '1'
          - id: 237472
            driverId: null
            driverName: ''
            EquipmentId: null
            EquipmentSpeed: '25'
            Longitude: null
            Latitude: null
            unSafeAct: null
            unSafeActUtcDate: '2021-11-26 01:29:54'
            ShiftId: '1'
          - id: 237454
            driverId: null
            driverName: ''
            EquipmentId: null
            EquipmentSpeed: '11'
            Longitude: null
            Latitude: null
            unSafeAct: null
            unSafeActUtcDate: '2021-11-26 01:29:54'
            ShiftId: '1'
          - id: 237447
            driverId: null
            driverName: ''
            EquipmentId: null
            EquipmentSpeed: '63'
            Longitude: null
            Latitude: null
            unSafeAct: null
            unSafeActUtcDate: '2021-11-26 01:29:54'
            ShiftId: '1'
          - id: 237481
            driverId: null
            driverName: ''
            EquipmentId: null
            EquipmentSpeed: '21'
            Longitude: null
            Latitude: null
            unSafeAct: null
            unSafeActUtcDate: '2021-11-26 01:29:54'
            ShiftId: '1'
          - id: 237461
            driverId: null
            driverName: ''
            EquipmentId: null
            EquipmentSpeed: '28'
            Longitude: null
            Latitude: null
            unSafeAct: null
            unSafeActUtcDate: '2021-11-26 01:29:54'
            ShiftId: '1'
          - id: 237462
            driverId: null
            driverName: ''
            EquipmentId: null
            EquipmentSpeed: '15'
            Longitude: null
            Latitude: null
            unSafeAct: null
            unSafeActUtcDate: '2021-11-26 01:29:54'
            ShiftId: '1'
          - id: 237475
            driverId: null
            driverName: ''
            EquipmentId: null
            EquipmentSpeed: '15'
            Longitude: null
            Latitude: null
            unSafeAct: null
            unSafeActUtcDate: '2021-11-26 01:29:54'
            ShiftId: '1'
          - id: 237448
            driverId: null
            driverName: ''
            EquipmentId: null
            EquipmentSpeed: '16'
            Longitude: null
            Latitude: null
            unSafeAct: null
            unSafeActUtcDate: '2021-11-26 01:29:54'
            ShiftId: '1'
          - id: 237455
            driverId: null
            driverName: ''
            EquipmentId: null
            EquipmentSpeed: '0'
            Longitude: null
            Latitude: null
            unSafeAct: null
            unSafeActUtcDate: '2021-11-26 01:29:54'
            ShiftId: '1'
        first_page_url: http://buma.predictdsm.com/api/v1/alerts?page=1
        from: 1
        last_page: 23745
        last_page_url: http://buma.predictdsm.com/api/v1/alerts?page=23745
        next_page_url: http://buma.predictdsm.com/api/v1/alerts?page=2
        path: http://buma.predictdsm.com/api/v1/alerts
        per_page: 10
        prev_page_url: null
        to: 10
        total: 237443
    type: object
    properties:
      success:
        type: boolean
      error:
        type: string
      message:
        type: string
      data:
        $ref: '#/definitions/Data8'
    required:
      - success
      - error
      - message
      - data
  Data8:
    title: Data8
    example:
      current_page: 1
      data:
        - id: 237480
          driverId: null
          driverName: ''
          EquipmentId: null
          EquipmentSpeed: '0'
          Longitude: null
          Latitude: null
          unSafeAct: null
          unSafeActUtcDate: '2021-11-26 01:29:54'
          ShiftId: '1'
        - id: 237472
          driverId: null
          driverName: ''
          EquipmentId: null
          EquipmentSpeed: '25'
          Longitude: null
          Latitude: null
          unSafeAct: null
          unSafeActUtcDate: '2021-11-26 01:29:54'
          ShiftId: '1'
        - id: 237454
          driverId: null
          driverName: ''
          EquipmentId: null
          EquipmentSpeed: '11'
          Longitude: null
          Latitude: null
          unSafeAct: null
          unSafeActUtcDate: '2021-11-26 01:29:54'
          ShiftId: '1'
        - id: 237447
          driverId: null
          driverName: ''
          EquipmentId: null
          EquipmentSpeed: '63'
          Longitude: null
          Latitude: null
          unSafeAct: null
          unSafeActUtcDate: '2021-11-26 01:29:54'
          ShiftId: '1'
        - id: 237481
          driverId: null
          driverName: ''
          EquipmentId: null
          EquipmentSpeed: '21'
          Longitude: null
          Latitude: null
          unSafeAct: null
          unSafeActUtcDate: '2021-11-26 01:29:54'
          ShiftId: '1'
        - id: 237461
          driverId: null
          driverName: ''
          EquipmentId: null
          EquipmentSpeed: '28'
          Longitude: null
          Latitude: null
          unSafeAct: null
          unSafeActUtcDate: '2021-11-26 01:29:54'
          ShiftId: '1'
        - id: 237462
          driverId: null
          driverName: ''
          EquipmentId: null
          EquipmentSpeed: '15'
          Longitude: null
          Latitude: null
          unSafeAct: null
          unSafeActUtcDate: '2021-11-26 01:29:54'
          ShiftId: '1'
        - id: 237475
          driverId: null
          driverName: ''
          EquipmentId: null
          EquipmentSpeed: '15'
          Longitude: null
          Latitude: null
          unSafeAct: null
          unSafeActUtcDate: '2021-11-26 01:29:54'
          ShiftId: '1'
        - id: 237448
          driverId: null
          driverName: ''
          EquipmentId: null
          EquipmentSpeed: '16'
          Longitude: null
          Latitude: null
          unSafeAct: null
          unSafeActUtcDate: '2021-11-26 01:29:54'
          ShiftId: '1'
        - id: 237455
          driverId: null
          driverName: ''
          EquipmentId: null
          EquipmentSpeed: '0'
          Longitude: null
          Latitude: null
          unSafeAct: null
          unSafeActUtcDate: '2021-11-26 01:29:54'
          ShiftId: '1'
      first_page_url: http://buma.predictdsm.com/api/v1/alerts?page=1
      from: 1
      last_page: 23745
      last_page_url: http://buma.predictdsm.com/api/v1/alerts?page=23745
      next_page_url: http://buma.predictdsm.com/api/v1/alerts?page=2
      path: http://buma.predictdsm.com/api/v1/alerts
      per_page: 10
      prev_page_url: null
      to: 10
      total: 237443
    type: object
    properties:
      current_page:
        type: integer
        format: int32
      data:
        type: array
        items:
          $ref: '#/definitions/Data9'
      first_page_url:
        type: string
      from:
        type: integer
        format: int32
      last_page:
        type: integer
        format: int32
      last_page_url:
        type: string
      next_page_url:
        type: string
      path:
        type: string
      per_page:
        type: integer
        format: int32
      prev_page_url:
        type: string
      to:
        type: integer
        format: int32
      total:
        type: integer
        format: int32
    required:
      - current_page
      - data
      - first_page_url
      - from
      - last_page
      - last_page_url
      - next_page_url
      - path
      - per_page
      - prev_page_url
      - to
      - total
  Data9:
    title: Data9
    example:
      id: 237480
      driverId: null
      driverName: ''
      EquipmentId: null
      EquipmentSpeed: '0'
      Longitude: null
      Latitude: null
      unSafeAct: null
      unSafeActUtcDate: '2021-11-26 01:29:54'
      ShiftId: '1'
    type: object
    properties:
      id:
        type: integer
        format: int32
      driverId:
        type: string
      driverName:
        type: string
      EquipmentId:
        type: string
      EquipmentSpeed:
        type: string
      Longitude:
        type: string
      Latitude:
        type: string
      unSafeAct:
        type: string
      unSafeActUtcDate:
        type: string
      ShiftId:
        type: string
    required:
      - id
      - driverId
      - driverName
      - EquipmentId
      - EquipmentSpeed
      - Longitude
      - Latitude
      - unSafeAct
      - unSafeActUtcDate
      - ShiftId
  AlertDetailRequest:
    title: AlertDetailRequest
    example:
      api_token: 3b7c26db75c23134488a9f1b4f1ac867178461deee7bb660e92f594ea97b0d76
      evidence_id: 96927
    type: object
    properties:
      api_token:
        type: string
      evidence_id:
        type: integer
        format: int32
    required:
      - api_token
      - evidence_id
  Response4:
    title: Response4
    example:
      success: true
      error: null
      message: Data retrieved.
      data:
        AlarmType: High-speed alarm
        TicketNumber: LMO - HDCT7112-PDSM00014003
        RegistrationNumber: LMO - HDCT7112
        SiteId: ''
        SiteName: ''
        Video1Url: http://147.139.186.204:12056/api/v1/basic/mediafile/view?key=zT908g2j9nhExsAmW2pQai8%2BSEBAq%2BeEWZ0YLoqhpFs%3D&dir=RDovRXZpZGVuY2VEYXRhLzIwMjEtMDktMTAvMTMxNDk4L0NIQU5ORUxfMDdfMjAyMTA5MTAxMTM0MTBfMjAyMTA5MTAxMTM0MTYubXA0
        Video2Url: http://147.139.186.204:12056/api/v1/basic/mediafile/view?key=zT908g2j9nhExsAmW2pQai8%2BSEBAq%2BeEWZ0YLoqhpFs%3D&dir=RDovRXZpZGVuY2VEYXRhLzIwMjEtMDktMTAvMTMxNDk4L0NIQU5ORUxfMDhfMjAyMTA5MTAxMTM0MTBfMjAyMTA5MTAxMTM0MTYubXA0
        Latitude: '2.324348'
        Longitude: '117.545775'
        DeviceId: '0099025384'
        Duration: '7'
        StartTime: '2021-09-10 11:34:13'
        DriverName: Driver 1
        Speed: '43'
        ActionStatus: Reopen Ticket
        ActionAlarmType: Valid (Remarks)
        ActionTime: 2021-09-16 11:13
        ActionTakenBy: Superadmin
        ActionRemarks: asdasdsa
        L1Shift: dsaqwewq
        DelayFatigueActivated: 'No'
        DelayFatigueRemarks: null
        ValidatedByShift: Pagi
        Closing Remarks: sadasdsadasdsadasdsa
        CoachingFile: http://bumadsm.local/storage/app/public/coaching/LMO - HDCT7112-PDSM00014003-6142d288f3b84.xlsx
        CoachingRemarks: sadsa
        RelatedEvidences:
          - id: 96928
            device_id: 157
            ticket_number: BMO - FTVV44002-PDSM00014004
            evidenceid: '131492'
            evidence_name: High-speed alarm
            carlicense: BMO - FTVV44002
            terid: 00990252A1
            driver_name: Driver 1
            name: BMO - FTVV44002-2021-09-10 11:29:02
            starttime: '2021-09-10 11:29:02'
            endtime: '2021-09-10 11:29:05'
            isread: null
            timeslot: '7'
            size: '6.96'
            image: null
            keyword: null
            desc: ''
            mark: null
            video_url: http://147.139.186.204:12056/api/v1/basic/mediafile/view?key=zT908g2j9nhExsAmW2pQai8%2BSEBAq%2BeEWZ0YLoqhpFs%3D&dir=RDovRXZpZGVuY2VEYXRhLzIwMjEtMDktMTAvMTMxNDkyL0NIQU5ORUxfMDdfMjAyMTA5MTAxMTI4NTlfMjAyMTA5MTAxMTI5MDUubXA0
            road_video_url: http://147.139.186.204:12056/api/v1/basic/mediafile/view?key=zT908g2j9nhExsAmW2pQai8%2BSEBAq%2BeEWZ0YLoqhpFs%3D&dir=RDovRXZpZGVuY2VEYXRhLzIwMjEtMDktMTAvMTMxNDkyL0NIQU5ORUxfMDhfMjAyMTA5MTAxMTI4NTlfMjAyMTA5MTAxMTI5MDUubXA0
            cam3_video_url: null
            cam4_video_url: null
            Timestamp: null
            Longitude: null
            Latitude: null
            FormattedAddress: null
            action_status: Reopen Ticket
            confirmation_date: 2021-09-16 11:13
            confirmation_by: Superadmin
            reopen_by: Superadmin
            slug: 131492-bmo-ftvv44002-2021-09-10-11-29-02
            created_at: '2021-09-10 04:00:10'
            updated_at: '2021-09-16 08:43:43'
            OdometerKilometres: null
            closed_date: '2021-09-16 14:09:52'
            closed_by: Superadmin
            wa_notif: null
            reopen_date: 2021-09-16 13:11
            closed_reason: Others
            email_notif: null
            email_sent_time: null
            closing_remarks: sadasdsadasdsadasdsa
            coaching_file: http://bumadsm.local/storage/app/public/coaching/BMO - FTVV44002-PDSM00014004-6142d289566b5.xlsx
            coaching_remarks: sadsa
            site_id: null
            group_id: 4
            detail:
              evidence_id: 96928
              terid: 00990252A1
              gpstime: '2021-09-10 11:29:02'
              altitude: '0'
              direction: '262'
              gpslat: '2.006858'
              gpslng: '117.575500'
              speed: '63'
              recordspeed: '0'
              state: '0'
              time: '2021-09-10 11:29:00'
              type: '15'
              content: 'Current speed: 63.0 KM/H (0.0 KM/H-62.0 KM/H)'
              cmdtype: '2'
              alarmid: 00990252A1_1_255
              created_at: '2021-09-10 04:00:10'
              updated_at: '2021-09-10 04:00:10'
            device:
              asset_id: 157
              carlicense: BMO - FTVV44002
              deviceid: 00990252A1
              terid: 00990252A1
              sim: '628875853073'
              channelcount: '8'
              cname: ''
              platecolor: '1'
              groupid: '15'
              devicetype: '4'
              linktype: '124'
              deviceusername: ''
              devicepassword: ''
              registerip: 147.139.186.204
              registerport: '5556'
              transmitip: 147.139.186.204
              transmitport: '17891'
              en: '255'
              state: Online
              created_at: '2021-06-21 10:33:40'
              updated_at: '2021-09-10 04:00:04'
              asset:
                site_id: null
                AssetId: null
                AssetTypeId: null
                Description: null
                IsConnectedTrailer: null
                RegistrationNumber: BMO - FTVV44002
                SiteId: null
                FuelType: null
                TargetFuelConsumption: null
                TargetFuelConsumptionUnits: null
                TargetHourlyFuelConsumption: null
                TargetHourlyFuelConsumptionUnits: null
                FleetNumber: null
                Make: null
                Model: null
                Year: null
                VinNumber: null
                EngineNumber: null
                FmVehicleId: null
                AdditionalMobileDevice: null
                Notes: null
                Icon: null
                IconColour: null
                Colour: null
                AssetImage: null
                IsDefaultImage: null
                AssetImageUrl: null
                UserState: null
                CreatedBy: null
                CreatedDate: null
                Odometer: null
                EngineHours: null
                Country: null
                Timestamp: '2021-09-10 11:29:02'
                Longitude: '117.575500'
                Latitude: '2.006858'
                FormattedAddress: null
                slug: 00990252a1
                created_at: '2021-06-21 10:33:40'
                updated_at: '2021-09-10 04:01:53'
                site: null
            actions:
              - evidence_id: 96928
                alarm_type: Valid (Remarks)
                action_date: 2021-09-16 11:13
                action_by: Superadmin
                description: asdasdsa
                created_at: '2021-09-16 04:33:53'
                updated_at: '2021-09-16 04:33:53'
                l1_shift: dsaqwewq
                delay_fatigue_activated: 'No'
                delay_fatigue_remarks: null
                validated_by_shift: Pagi
            coachings:
              - evidence_id: 96928
                coaching_file: http://bumadsm.local/storage/app/public/coaching/BMO - FTVV44002-PDSM00014004-6142d289566b5.xlsx
                coaching_remarks: sadsa
                upload_by: Superadmin
                created_at: '2021-09-16 05:13:45'
                updated_at: '2021-09-16 05:13:45'
            reopens:
              - evidence_id: 96928
                prev_status: null
                reopen_date: 2021-09-16 13:11
                reopen_by: Superadmin
                reason: asdasdsa
                created_at: '2021-09-16 06:11:17'
                updated_at: '2021-09-16 06:11:17'
            site: null
    type: object
    properties:
      success:
        type: boolean
      error:
        type: string
      message:
        type: string
      data:
        $ref: '#/definitions/Data10'
    required:
      - success
      - error
      - message
      - data
  Data10:
    title: Data10
    example:
      AlarmType: High-speed alarm
      TicketNumber: LMO - HDCT7112-PDSM00014003
      RegistrationNumber: LMO - HDCT7112
      SiteId: ''
      SiteName: ''
      Video1Url: http://147.139.186.204:12056/api/v1/basic/mediafile/view?key=zT908g2j9nhExsAmW2pQai8%2BSEBAq%2BeEWZ0YLoqhpFs%3D&dir=RDovRXZpZGVuY2VEYXRhLzIwMjEtMDktMTAvMTMxNDk4L0NIQU5ORUxfMDdfMjAyMTA5MTAxMTM0MTBfMjAyMTA5MTAxMTM0MTYubXA0
      Video2Url: http://147.139.186.204:12056/api/v1/basic/mediafile/view?key=zT908g2j9nhExsAmW2pQai8%2BSEBAq%2BeEWZ0YLoqhpFs%3D&dir=RDovRXZpZGVuY2VEYXRhLzIwMjEtMDktMTAvMTMxNDk4L0NIQU5ORUxfMDhfMjAyMTA5MTAxMTM0MTBfMjAyMTA5MTAxMTM0MTYubXA0
      Latitude: '2.324348'
      Longitude: '117.545775'
      DeviceId: '0099025384'
      Duration: '7'
      StartTime: '2021-09-10 11:34:13'
      DriverName: Driver 1
      Speed: '43'
      ActionStatus: Reopen Ticket
      ActionAlarmType: Valid (Remarks)
      ActionTime: 2021-09-16 11:13
      ActionTakenBy: Superadmin
      ActionRemarks: asdasdsa
      L1Shift: dsaqwewq
      DelayFatigueActivated: 'No'
      DelayFatigueRemarks: null
      ValidatedByShift: Pagi
      Closing Remarks: sadasdsadasdsadasdsa
      CoachingFile: http://bumadsm.local/storage/app/public/coaching/LMO - HDCT7112-PDSM00014003-6142d288f3b84.xlsx
      CoachingRemarks: sadsa
      RelatedEvidences:
        - id: 96928
          device_id: 157
          ticket_number: BMO - FTVV44002-PDSM00014004
          evidenceid: '131492'
          evidence_name: High-speed alarm
          carlicense: BMO - FTVV44002
          terid: 00990252A1
          driver_name: Driver 1
          name: BMO - FTVV44002-2021-09-10 11:29:02
          starttime: '2021-09-10 11:29:02'
          endtime: '2021-09-10 11:29:05'
          isread: null
          timeslot: '7'
          size: '6.96'
          image: null
          keyword: null
          desc: ''
          mark: null
          video_url: http://147.139.186.204:12056/api/v1/basic/mediafile/view?key=zT908g2j9nhExsAmW2pQai8%2BSEBAq%2BeEWZ0YLoqhpFs%3D&dir=RDovRXZpZGVuY2VEYXRhLzIwMjEtMDktMTAvMTMxNDkyL0NIQU5ORUxfMDdfMjAyMTA5MTAxMTI4NTlfMjAyMTA5MTAxMTI5MDUubXA0
          road_video_url: http://147.139.186.204:12056/api/v1/basic/mediafile/view?key=zT908g2j9nhExsAmW2pQai8%2BSEBAq%2BeEWZ0YLoqhpFs%3D&dir=RDovRXZpZGVuY2VEYXRhLzIwMjEtMDktMTAvMTMxNDkyL0NIQU5ORUxfMDhfMjAyMTA5MTAxMTI4NTlfMjAyMTA5MTAxMTI5MDUubXA0
          cam3_video_url: null
          cam4_video_url: null
          Timestamp: null
          Longitude: null
          Latitude: null
          FormattedAddress: null
          action_status: Reopen Ticket
          confirmation_date: 2021-09-16 11:13
          confirmation_by: Superadmin
          reopen_by: Superadmin
          slug: 131492-bmo-ftvv44002-2021-09-10-11-29-02
          created_at: '2021-09-10 04:00:10'
          updated_at: '2021-09-16 08:43:43'
          OdometerKilometres: null
          closed_date: '2021-09-16 14:09:52'
          closed_by: Superadmin
          wa_notif: null
          reopen_date: 2021-09-16 13:11
          closed_reason: Others
          email_notif: null
          email_sent_time: null
          closing_remarks: sadasdsadasdsadasdsa
          coaching_file: http://bumadsm.local/storage/app/public/coaching/BMO - FTVV44002-PDSM00014004-6142d289566b5.xlsx
          coaching_remarks: sadsa
          site_id: null
          group_id: 4
          detail:
            evidence_id: 96928
            terid: 00990252A1
            gpstime: '2021-09-10 11:29:02'
            altitude: '0'
            direction: '262'
            gpslat: '2.006858'
            gpslng: '117.575500'
            speed: '63'
            recordspeed: '0'
            state: '0'
            time: '2021-09-10 11:29:00'
            type: '15'
            content: 'Current speed: 63.0 KM/H (0.0 KM/H-62.0 KM/H)'
            cmdtype: '2'
            alarmid: 00990252A1_1_255
            created_at: '2021-09-10 04:00:10'
            updated_at: '2021-09-10 04:00:10'
          device:
            asset_id: 157
            carlicense: BMO - FTVV44002
            deviceid: 00990252A1
            terid: 00990252A1
            sim: '628875853073'
            channelcount: '8'
            cname: ''
            platecolor: '1'
            groupid: '15'
            devicetype: '4'
            linktype: '124'
            deviceusername: ''
            devicepassword: ''
            registerip: 147.139.186.204
            registerport: '5556'
            transmitip: 147.139.186.204
            transmitport: '17891'
            en: '255'
            state: Online
            created_at: '2021-06-21 10:33:40'
            updated_at: '2021-09-10 04:00:04'
            asset:
              site_id: null
              AssetId: null
              AssetTypeId: null
              Description: null
              IsConnectedTrailer: null
              RegistrationNumber: BMO - FTVV44002
              SiteId: null
              FuelType: null
              TargetFuelConsumption: null
              TargetFuelConsumptionUnits: null
              TargetHourlyFuelConsumption: null
              TargetHourlyFuelConsumptionUnits: null
              FleetNumber: null
              Make: null
              Model: null
              Year: null
              VinNumber: null
              EngineNumber: null
              FmVehicleId: null
              AdditionalMobileDevice: null
              Notes: null
              Icon: null
              IconColour: null
              Colour: null
              AssetImage: null
              IsDefaultImage: null
              AssetImageUrl: null
              UserState: null
              CreatedBy: null
              CreatedDate: null
              Odometer: null
              EngineHours: null
              Country: null
              Timestamp: '2021-09-10 11:29:02'
              Longitude: '117.575500'
              Latitude: '2.006858'
              FormattedAddress: null
              slug: 00990252a1
              created_at: '2021-06-21 10:33:40'
              updated_at: '2021-09-10 04:01:53'
              site: null
          actions:
            - evidence_id: 96928
              alarm_type: Valid (Remarks)
              action_date: 2021-09-16 11:13
              action_by: Superadmin
              description: asdasdsa
              created_at: '2021-09-16 04:33:53'
              updated_at: '2021-09-16 04:33:53'
              l1_shift: dsaqwewq
              delay_fatigue_activated: 'No'
              delay_fatigue_remarks: null
              validated_by_shift: Pagi
          coachings:
            - evidence_id: 96928
              coaching_file: http://bumadsm.local/storage/app/public/coaching/BMO - FTVV44002-PDSM00014004-6142d289566b5.xlsx
              coaching_remarks: sadsa
              upload_by: Superadmin
              created_at: '2021-09-16 05:13:45'
              updated_at: '2021-09-16 05:13:45'
          reopens:
            - evidence_id: 96928
              prev_status: null
              reopen_date: 2021-09-16 13:11
              reopen_by: Superadmin
              reason: asdasdsa
              created_at: '2021-09-16 06:11:17'
              updated_at: '2021-09-16 06:11:17'
          site: null
    type: object
    properties:
      AlarmType:
        type: string
      TicketNumber:
        type: string
      RegistrationNumber:
        type: string
      SiteId:
        type: string
      SiteName:
        type: string
      Video1Url:
        type: string
      Video2Url:
        type: string
      Latitude:
        type: string
      Longitude:
        type: string
      DeviceId:
        type: string
      Duration:
        type: string
      StartTime:
        type: string
      DriverName:
        type: string
      Speed:
        type: string
      ActionStatus:
        type: string
      ActionAlarmType:
        type: string
      ActionTime:
        type: string
      ActionTakenBy:
        type: string
      ActionRemarks:
        type: string
      L1Shift:
        type: string
      DelayFatigueActivated:
        type: string
      DelayFatigueRemarks:
        type: string
      ValidatedByShift:
        type: string
      Closing Remarks:
        type: string
      CoachingFile:
        type: string
      CoachingRemarks:
        type: string
      RelatedEvidences:
        type: array
        items:
          $ref: '#/definitions/RelatedEvidence'
    required:
      - AlarmType
      - TicketNumber
      - RegistrationNumber
      - SiteId
      - SiteName
      - Video1Url
      - Video2Url
      - Latitude
      - Longitude
      - DeviceId
      - Duration
      - StartTime
      - DriverName
      - Speed
      - ActionStatus
      - ActionAlarmType
      - ActionTime
      - ActionTakenBy
      - ActionRemarks
      - L1Shift
      - DelayFatigueActivated
      - DelayFatigueRemarks
      - ValidatedByShift
      - Closing Remarks
      - CoachingFile
      - CoachingRemarks
      - RelatedEvidences
  RelatedEvidence:
    title: RelatedEvidence
    example:
      id: 96928
      device_id: 157
      ticket_number: BMO - FTVV44002-PDSM00014004
      evidenceid: '131492'
      evidence_name: High-speed alarm
      carlicense: BMO - FTVV44002
      terid: 00990252A1
      driver_name: Driver 1
      name: BMO - FTVV44002-2021-09-10 11:29:02
      starttime: '2021-09-10 11:29:02'
      endtime: '2021-09-10 11:29:05'
      isread: null
      timeslot: '7'
      size: '6.96'
      image: null
      keyword: null
      desc: ''
      mark: null
      video_url: http://147.139.186.204:12056/api/v1/basic/mediafile/view?key=zT908g2j9nhExsAmW2pQai8%2BSEBAq%2BeEWZ0YLoqhpFs%3D&dir=RDovRXZpZGVuY2VEYXRhLzIwMjEtMDktMTAvMTMxNDkyL0NIQU5ORUxfMDdfMjAyMTA5MTAxMTI4NTlfMjAyMTA5MTAxMTI5MDUubXA0
[...]
